body{ 
	background:#d8e6ec url(../images/bg_body.gif) repeat-x;
   	 font:80% Arial, Helvetica, Sans-Serif;
	color:#555;
	line-height:180%;
    	margin:0;
    	padding:0;
	text-align:center;
}
h1{
	font-size:36pt;
	font-weight:normal;
	margin:0;
	padding-left:35px;
	padding-top:80px;
	color: yellow;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}	
h2{  
	font-weight:normal;
	margin:1em 0;
	font-size:160%;
	}	
 #container{	
	margin:0 auto;
	width:928px;
	text-align:left;
  }
#header{
		height:236px;
		background:url(../images/bg_header.jpg) no-repeat 0 0;
		}	
#content{
		background:url(../images/bg_content.gif) repeat-y;
		padding:.5em 34px;
		}
#footer{
		padding:25px 60px;
		background:url(../images/bg_footer.gif) no-repeat 0 0;				
		color:#fff;
		}
p{ 
	margin:1em 0;
	}
